body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
#container {
    width: 600px;
    margin: 15px auto;
    padding: 20px;
    background-color:rgb(151, 240, 235);
}
h1, p, #beviteliDiv {
    text-align: center;
}
h1 {
    color:rgb(221, 86, 36);
    letter-spacing: 4px;
}
span {
    font-size: 24px;
    text-decoration: underline;
    color:rgb(185, 59, 14);
}
button {
    display: block;
    margin: 15px auto;
    padding: 10px;
    font-size: 20px;
    background-color:rgb(211, 135, 107);
}
button:hover {
    background-color:rgb(221, 86, 36);
}