@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    background: rgb(247, 233, 158);
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
header {
    background: url('/IMG/IMG_9522 szerk szerk.jpg');
    color: white;
    font-size: 70px;
    font-weight: 700;
    padding: 80px 60px;
}
.wrapper {
    max-width: 900px;
    margin: 0 auto;
}
nav {
    width: 25%;
    float: left;
}
main {
    width: 75%;
    float: left;
    background: white;
    padding: 30px;
}
.float-right {
    float: right;
    margin: 10px 0 20px 20px;
}
.float-left {
    float: left;
    margin: 10px 20px 20px 0;
}
.float-right::after,
.float-left::after {
    content: "";
    clear: both;
    display: table;
}
.content {
    background: rgb(77, 32, 53);
}
.content::after,
footer::after {
    content: "";
    clear: both;
    display: table;
}
nav ul {
    margin: 0;
    padding: 30px;
    list-style: none;
}
nav ul li {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}
nav a {
    color: white;
    text-decoration: none;
    padding: 15px 0;
    display: block;
}
nav a:hover {
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
}
footer {
    padding: 20px 0;
}
footer a {
    color: black;
}
footer .left {
    float: left;
}
footer .right {
    float: right;
}