* {
    box-sizing: border-box;
}
body {
    background: rgb(252, 252, 156);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    max-width: 800px;
    margin: 40px auto;
}
h1 {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}
.content {
    background-color: white;
    padding: 15px;
}
.content h3 {
    text-align: center;
}
.content p {
    text-align: center;
    line-height: 1.5em;
}
.navigation {
    margin: 40px auto;
    text-align: center;
    
}
.navigation a {
    font-size: 20px;
    color: white;
    background-color: crimson;
    text-decoration: none;
    padding: 15px 25px;
    margin: 1.5rem;
    display: inline-block;
    box-shadow: 2px 2px rgb(68, 68, 68);
}
.navigation a:hover {
    background-color: brown;
}